.character-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.character-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: black;
  border-radius: 20px;
  font-size: 30px;
  padding: 10px;
  width: 480px;
  //width 500px
  height: 680px;
  //height 700px

  //Disable text selection
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.character-card__top {
  display: flex;
  align-items: center;
  justify-content: center;
  // height: 40px;
  background: black;
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  padding: 10px 10px;
  border-radius: 0px 20px 0px 10px;
  .material-icons {
    color: white;
    font-size: 24px;
  }
}

.character-card__cost {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-size: 16px;
  color: black;
  background: white;
  border-radius: 50%;
  margin-right: 8px;
  span {
    margin-bottom: 2px;
  }
}

.character-card__image-container {
  display: flex;
  align-items: center;
  justify-self: center;
  background: silver;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 550px;
  position: relative;
}

.character-card__image-layer {
  width: 480px;
  position: absolute;
  left: 0px;
}

.character-card__color-layer {
  width: 230px;
  height: 230px;
  position: absolute;
  left: 0px;
  mix-blend-mode: hard-light;
}

.character-card__name-area {
  color: black;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 460px;
  font-size: 24px;
  z-index: 1000;
  white-space: nowrap;
}

.character-card__name-text {
  padding: 10px;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}

.character-card__legend-area {
  display: flex;
  width: 100%;
  height: 83px;
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 4px;
}

.character-card__legend-text {
  padding: 10px;
  color: black;
  font-size: 14px;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
}

.character-card__abilities {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.character-card__skills {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 28px;
  font-size: 12px;
  color: white;
  font-weight: bold;
}

.character-card__stats {
  color: white;
  font-size: 32px;
  font-weight: bold;
}

@media (max-width: 500px) {
  .character-card-container {
    transform: scale(0.7);
  }
  .character-card__image-layer {
    width: 480px;
  }
}
