.character-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 336px;
  position: relative;
}

.character-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: black;
  border-radius: 10px;
  font-size: 30px;
  padding: 5px;
  scale: 2.09;

  //Disable text selection
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.character-card__top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  width: 40px;
  background: black;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  border-radius: 0px 10px 0px 5px;

  .material-icons {
    color: white;
    font-size: 14px;
  }
}

.character-card__cost {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  font-size: 10px;
  color: black;
  background: white;
  border-radius: 50%;
  margin-right: 3px;
  span {
    margin-bottom: 1px;
  }
}

.character-card__image-container {
  background: silver;
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  height: 264px;
  position: relative;
}

.character-card__name {
  color: black;
  position: absolute;
  left: 5px;
  bottom: 5px;
  font-size: 14px;
}

.character-card__legend {
  background: rgba(255, 255, 255, 0.5);
  color: black;
  height: 32px;
  padding: 5px;
  font-size: 9px;
  line-height: 10.5px;
  margin-bottom: 2px;
}

.character-card__abilities {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.character-card__skills {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 7px;
  color: white;
  font-weight: bold;

  span:not(:last-child) {
    margin-right: 7px;
  }
}

.character-card__stats {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 500px) {
  .character-card {
    scale: 1.82;
  }
}
