.input-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 0px 20px;
}

.input-label {
  margin-bottom: 8px;
  color: $selectable;
  font-weight: bold;
  font-size: $textSizeM;
}

.input {
  border-radius: 5px;
  border: none;
  height: 40px;
  padding: 0px 8px;
  color: $textDark;
  font-size: $textSizeM;
  background-color: $textLight;
}

.input:focus {
  outline: $selectable solid 3px;
}

.input-row__select {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input--select {
  width: 63%;
}

.input--area {
  height: auto;
  resize: none;
  padding: 8px;
}

.input__color-picker {
  height: 20px;
  border-radius: 10px;
  border: 2px solid $selectable;
  background-color: pink;
  margin-top: 8px;
}
