.input-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  padding: 0px 20px;
}

.input-row--add-button {
  flex-direction: row;
  margin: 0px;
}

.input-row--dialog {
  justify-content: center;
  padding: 0px;
  margin: 0px;
  height: 100%;
}

.input-label {
  margin-bottom: 8px;
  color: $selectable;
  font-weight: bold;
  font-size: $textSizeM;
}

.input {
  border-radius: 5px;
  border: none;
  height: 40px;
  padding: 0px 8px;
  color: $textDark;
  font-size: $textSizeM;
  background-color: $textLight;
}

.input:focus {
  outline: $selectable solid 3px;
}

.input__alert {
  margin-top: 8px;
  color: $warning;
}

.input-row__select {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input--select {
  width: 80%;
}

.input--area {
  height: auto;
  resize: none;
  padding: 8px;
}

.input__color-picker {
  height: 20px;
  border-radius: 10px;
  border: 2px solid $selectable;
  margin-top: 8px;
  cursor: pointer;
}

.color-picker-component__cover {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
}

.color-picker-component {
  position: relative;

  .react-colorful {
    position: absolute;
    width: 100%;
    height: 100px;
  }
}
