.tab-container {
  width: 100%;
  background-color: $selectable;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  align-items: center;
  height: 82px;
}
.tabs {
  padding: 40px 40px 20px 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tab-button {
  background: none;
  border: none;
  color: $textLight;
  font-weight: bold;
  font-size: $textSizeL;
  cursor: pointer;
}

.tab-button--selected {
  color: $foreground;
}

.tab-content-container {
  display: flex;
  height: 475px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  margin-bottom: 20px;
}

.tab-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}
